[user]
	name = Fatih Kalifa
	email = fatihkalifa@gmail.com

[commit]
	gpgsign = true

[pull]
	ff = only

[push]
  # push to branch with the same name
	default = current
  # no need to pass --follow-tags manually
  followTags = true

[init]
	defaultBranch = main

[branch]
	# Show most recently changed branches first.
	sort = -committerdate

[diff]
	# Detect copies as well as renames.
	renames = copies

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
